<div id="<%= dom_id g1_detail %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Bet point:</strong>
    <%= g1_detail.bet_point_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Csmf cod:</strong>
    <%= g1_detail.csmf_cod %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data:</strong>
    <%= g1_detail.data %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Num term:</strong>
    <%= g1_detail.num_term %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cod tipo gioco:</strong>
    <%= g1_detail.cod_tipo_gioco %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cod tipo conc:</strong>
    <%= g1_detail.cod_tipo_conc %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Des gioco:</strong>
    <%= g1_detail.des_gioco %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Num emesso:</strong>
    <%= g1_detail.num_emesso %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Impo emesso:</strong>
    <%= g1_detail.impo_emesso %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Num pagato:</strong>
    <%= g1_detail.num_pagato %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Impo pagato:</strong>
    <%= g1_detail.impo_pagato %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tipologia:</strong>
    <%= g1_detail.tipologia %>
  </div>
</div>
